<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @cliente.nome %>
</p>

<p>
  <strong>Bi:</strong>
  <%= @cliente.bi %>
</p>

<p>
  <strong>Nif:</strong>
  <%= @cliente.nif %>
</p>

<p>
  <strong>Utente:</strong>
  <%= @cliente.utente %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @cliente.telefone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @cliente.email %>
</p>

<p>
  <strong>Seguro:</strong>
  <%= @cliente.seguro %>
</p>

<p>
  <strong>Numseguro:</strong>
  <%= @cliente.numSeguro %>
</p>

<p>
  <strong>Morada:</strong>
  <%= @cliente.morada %>
</p>

<p>
  <strong>Observacoes:</strong>
  <%= @cliente.observacoes %>
</p>

<p>
  <strong>Datanascimento:</strong>
  <%= @cliente.dataNascimento %>
</p>

<%= link_to 'Edit', edit_cliente_path(@cliente) %> |
<%= link_to 'Back', clientes_path %>
