<p id="notice"><%= notice %></p>

<h1>Doc Categoria</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @doc_categoria.each do |doc_categorium| %>
      <tr>
        <td><%= doc_categorium.nome %></td>
        <td><%= link_to 'Show', doc_categorium %></td>
        <td><%= link_to 'Edit', edit_doc_categorium_path(doc_categorium) %></td>
        <td><%= link_to 'Destroy', doc_categorium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Doc Categorium', new_doc_categorium_path %>
