<%= form_with(model: pagamento, local: true) do |form| %>
  <% if pagamento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pagamento.errors.count, "error") %> prohibited this pagamento from being saved:</h2>

      <ul>
        <% pagamento.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :cliente_id %>
    <%= form.text_field :cliente_id %>
  </div>

  <div class="field">
    <%= form.label :consulta_id %>
    <%= form.text_field :consulta_id %>
  </div>

  <div class="field">
    <%= form.label :metodo %>
    <%= form.text_field :metodo %>
  </div>

  <div class="field">
    <%= form.label :valor %>
    <%= form.text_field :valor %>
  </div>

  <div class="field">
    <%= form.label :troco %>
    <%= form.text_field :troco %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
