<p id="notice"><%= notice %></p>

<h1>Pagamentos</h1>

<table>
  <thead>
    <tr>
      <th>Cliente</th>
      <th>Consulta</th>
      <th>Metodo</th>
      <th>Valor</th>
      <th>Troco</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pagamentos.each do |pagamento| %>
      <tr>
        <td><%= pagamento.cliente_id %></td>
        <td><%= pagamento.consulta_id %></td>
        <td><%= pagamento.metodo %></td>
        <td><%= pagamento.valor %></td>
        <td><%= pagamento.troco %></td>
        <td><%= link_to 'Show', pagamento %></td>
        <td><%= link_to 'Edit', edit_pagamento_path(pagamento) %></td>
        <td><%= link_to 'Destroy', pagamento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pagamento', new_pagamento_path %>
