<%= form_with(model: dente, local: true) do |form| %>
  <% if dente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dente.errors.count, "error") %> prohibited this dente from being saved:</h2>

      <ul>
        <% dente.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
